<div id="<%= dom_id imagec %>">
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t("imagecs.name") %>:</strong>
    <%= imagec.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t("imagecs.description") %>:</strong>
    <%= imagec.description %>
  </p>

  <% if imagec.avatar.attached?%>
    <div class="avatar">
      <%= image_tag(url_for(imagec.avatar)) %>
    </div>

  <% end %>

</div>
